*{
    box-sizing: border-box;
}
body{
    color:black
}

#main {
    width:70%;
    height: 600px;
    margin: 0 auto;
    border: 1px solid black;
    /*background: red;*/
    position:relative;
    color:black;
      /*background-image:
    linear-gradient(
      brown, #f06d06
    );*/
    font-family: 'Ubuntu', sans-serif;
    background: url('../img/wood11.jpg') ;
    /*background-size: cover*/
    /*3cb5e8,333,295396*/
}


#top-left {
    position:absolute;
    width:70%;
    height:80%;
    /*background:grey;*/

}

#inner-top-left {
   
    justify-content: space-around;
    width:90%;
    margin:10px;
    height:90%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
}

.row {
    display: flex;
    flex-wrap: nowrap;
   color:black;
    align-items: center;
        justify-content: space-around;
    height: 50px;

}
.row span {
        display: flex;
    flex-wrap: nowrap;
    width:100%;
    align-items: flex-end;
 justify-content: space-between;
    height: 50px;
    margin:5px;
}
.row span input {
       color: #333;
text-shadow: 0px 1px 0px rgba(255,255,255,.5); 
    background: transparent;
    text-align: center;
    flex-direction: row;
    flex-grow: 1;
    width:5px;
    border:none;
    height:30px;
    height: 35px;
    padding-right:20px;
    /*color:white;*/
    /*background: grey;*/
    margin: 5px;
    /*color:white;*/
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
         /*border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;*/

    
}


#top-right {
    width:30%;
    position:absolute;
    height: 80%;
    top:0px;
    right:0px;
    /*background:black;*/
    
}

/*top-right-container*/
#top-right-container {
    width: 80%;
    position: absolute;
    top:12%;
    height: 80%;
    margin:1%;
    /*border: 1px solid white;*/
    border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px
}

#bottom {
       width:100%;
       height: 20%;
       position:absolute;
       left:0px;
       bottom:0px;
    /*background:blue; */
}

#bottom-container {
    width: 94%;
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;    position:absolute;
    height: auto;
    margin:1%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}
.letter {
    flex-basis: 80px;
    background: #ff5500;
    padding:15px;
    flex-direction: row;
    height: 50px;
    text-align: center;
    /*color:white;*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 1px 1px 1px 1px black;
}

.wrong {
    color:white;
    background: red;
    font-size: 1.3em;
    font-weight: bold;
}
.right {
    color:white;
    background: #4caf50;
    opacity:0.9;
}

#answer {
    width:60%;
    position: relative;
    height: 30px;
    text-align: center;
    padding:10px;
    margin:10px;
    text-align: center;
}

#restart-game {
    position:absolute;
    width:100px;
    height:30px;
    background: #ff2525;
    border-bottom:3px solid #a00001;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align:center;
    color:white;
    font-size: small;
    /*padding-top:10px;*/
}

/*#restart-game:hover {
    background: #ff5500;
}*/

#top-right-content {
    position: absolute;
    width:90%;
    text-align: center;
    height: 70%;
    top:10px;
    left:8px;
    /*margin:10px;*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*color:white;*/
}

#top-right-content div:first-child {
        font-size: 1.2em;
    font-weight: bold;

}

.engraveText {
    color: #333;
text-shadow: 0px 1px 0px rgba(255,255,255,.5); 
}

#instructions {
text-align:center;
line-height:2em;

padding-left:0px;
font-size: small;
/*color: black;
text-shadow: 0px 1px 0px rgba(255,255,255,.5); */
color:white;
}

.report {
    text-align:left;
    padding-left:10px;
}

/*.good {
    background: #4caf50;
}*/